<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>Create New Chat..</h3>
    <form method="POST" action="/chats">
        <input name="from" placeholder="Add sender">
        <br>
        <textarea name="message" placeholder="Add your message to be sent" cols="35" rows="10"></textarea>
        <br>
        <input name="to" placeholder="Add receiver">
        <br> <br>
        <button>Create Chat</button>
    </form>
</body>
</html>